@import "normalize.css";

:root {
  font-family: sans-serif;
}

button {
  background-color: #8e3dcb;
  color: white;
  padding: 8px 16px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #6b2e99;
}
